<!-- <aside id="sidebar" class="fixed z-10 top-0 pb-1 px-2 w-64 h-full flex flex-col justify-between h-screen border-r bg-white transition duration-300 md:w-40 lg:w-32 xl:w-28"> -->
    <div>
       <div class="-mx-2 px-2 py-1">
           <a href="#" title="home">
               <img src="images/triangulo.png" class="w-8" alt="Logo de la empresa">
           </a>
       </div>
       <ul class="space-y-2 tracking-wide mt-6">
           <li>
               <a href="#" aria-label="dashboard" class="relative px-2 py-2 flex items-center justify-center rounded-lg text-black">
                   <img src="images/mundo.png" alt="Logo planeta tierra" class="w-6 h-6">
               </a>
           </li>
           <li>
               <a href="#" class="hidden md:flex px-2 py-2 items-center justify-center rounded-md text-gray-700 group">
                   <i class="fa fa-video-camera text-lg" aria-hidden="true"></i>
               </a>
           </li>
           <li>
               <a href="#" class="hidden md:flex px-2 py-2 items-center justify-center rounded-md text-gray-700 group">
                   <img src="images/senal.png" alt="Logo de conexión" class="w-6 h-6">
               </a>
           </li>
           <li>
               <a href="#" class="hidden md:flex px-2 py-2 items-center justify-center rounded-md text-gray-700 group">
                   <img src="images/planta-de-energia.png" alt="Logo de planta de energía" class="w-6 h-6">
               </a>
           </li>
           <li>
               <button class="px-2 py-2 flex items-center justify-center rounded-md text-gray-700 group">
                   <i class="fa fa-sign-out text-lg" aria-hidden="true"></i>
               </button>
           </li>
       </ul>
   </div>
 <!-- </aside> -->
 