<aside class="ml-[-80%] fixed z-10 top-0 pb-1 px-4 w-full flex flex-col justify-between h-screen border-r bg-white transition duration-300 md:w-2/12 lg:ml-0 lg:w-[20%] xl:w-[15%] 2xl:w-[12%]">
  <div>
      <div class="-mx-4 px-4 py-2">
          <a href="#" title="home">
              <img src="images/triangulo.png" class="w-10" alt="Logo de la empresa">
          </a>
      </div>
            <ul class="space-y-2 tracking-wide mt-8">
                <li>
                    <!-- Icono de globo terráqueo -->
                    <a href="#" aria-label="dashboard" class="relative px-4 py-3 flex items-center space-x-4 rounded-lg text-black">
                      <img src="images/mundo.png" alt="Logo planeta tierra">
                    </a>
                </li>
                <li>
                    <!-- Icono de cámara de video -->
                    <a href="#" class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-700 group">
                      <i class="fa fa-video-camera" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <!-- Icono de señal de Wi-Fi -->
                    <a href="#" class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-700 group">
                        <img src="images/senal.png" alt="Logo de conexión">
                    </a>
                </li>
                <li>
                  <!-- Icono de Planta de energía -->
                  <a href="#" class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-700 group">
                      <!-- <img src="images/logoplantaenergia3.png" alt="Logo de planta de energía"> -->
                       <img src="images/planta-de-energia.png" alt="Logo de planta de energí">
                  </a>
              </li>
            <!-- Icono de cierre de sesión -->
            <button class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-700 group">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                </button>
                </ul>
        </div>
</aside>
      