
<div class="mt-12">
        <div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-4">
                    <!-- Primer Elemento -->
                    <div class="bg-slate-200/70 to-black/4 p-6 rounded-lg">
                        <p class="text-black-300 text-sm font-medium leading-4">Lecturas Ok</p>
                        <div class="flex flex-row space-x-4 justify-between">
                            <div id="stats-1">
                                <p class="text-black font-bold text-2xl inline-flex items-center space-x-2">1.234</p>
                            </div>
                            <!-- Logo modificado -->
                            <div class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-300">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2 12l5 5L22 5" />
                                </svg>
                            </div>
                        </div>                        
                    </div>
            
                    <!-- Segundo Elemento -->
                    <div class="bg-slate-200/70 to-black/4 p-6 rounded-lg">
                        <p class="text-black-300 text-sm font-medium leading-4">Alertas medias</p>
                        <div class="flex flex-row space-x-4 justify-between">
                            <div id="stats-1">
                                <p class="text-black font-bold text-2xl inline-flex items-center space-x-2">932</p>
                            </div>
                            <!-- Logo modificado -->
                            <div class="w-10 h-10 flex items-center justify-center rounded-full bg-yellow-100">
                                <i class='fas fa-exclamation' style='font-size:28px; color: yellow;'></i>
                            </div>
                        </div>                        
                    </div>
            
                    <!-- Tercer Elemento -->
                    <div class="bg-slate-200/70 to-black/4 p-6 rounded-lg">
                        <p class="text-black-300 text-sm font-medium leading-4">Alertas rojas</p>
                        <div class="flex flex-row space-x-4 justify-between">
                            <div id="stats-1">
                                <p class="text-black font-bold text-2xl inline-flex items-center space-x-2">932</p>
                            </div>
                            <!-- Logo modificado -->
                            <div class="w-10 h-10 flex items-center justify-center rounded-full bg-red-500">
                               <i class='fa-solid fa-triangle-exclamation' style='font-size:28px; color: rgb(241, 126, 126)'></i>
                            </div>
                        </div> 
                    </div>
            
                    <!-- Cuarto Elemento -->
                    <div class="bg-slate-200/70 to-black/4 p-6 rounded-lg">
                        <p class="text-black-300 text-sm font-medium leading-4">Alertas deshabilitadas</p>
                        <div class="flex flex-row space-x-4 justify-between">
                            <div id="stats-1">
                                <p class="text-black font-bold text-2xl inline-flex items-center space-x-2">932</p>
                            </div>
                            <!-- Logo modificado -->
                            <div class="w-10 h-10 flex items-center justify-center rounded-full bg-orange-300">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            
        <div id="last-users" class="p-1">
            <div class="flex items-center space-x-4 mb-2">
                <h1 class="font-bold text-lg">Plantas</h1>
                <button type="button" class="text-gray-500 font-bold border border-solid border-gray-500 px-1 py-1 rounded">+ Crear Nueva Planta</button>
            </div>
            <table class="w-full table-auto">
            <thead class="text-gray-500">
                <tr>
                    <th class="text-left py-3 px-2 rounded-l-lg">Pais</th>
                    <th class="text-left py-3 px-2">Nombre de la Planta</th>
                    <th class="text-left py-3 px-2">Lecturas</th>
                    <th class="text-left py-3 px-2">Alertas medias</th>
                    <th class="text-left py-3 px-2">Alertas bajas</th>
                    <th class="text-left py-3 px-2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-3 px-2 font-bold">
                        <div class="inline-flex space-x-3 items-center">
                            <span>Banderas</span>
                        </div>
                    </td>
                    <td class="py-3 px-2">Quilmes</td>
                    <td class="py-3 px-2">300</td>
                    <td class="py-3 px-2">10</td>
                    <td class="py-3 px-2">2</td>
                    <td class="py-3 px-2 flex justify-center items-center">
                        <button><i class="fa-solid fa-ellipsis-vertical text-gray-500"></i></button>
                    </td>
                </tr>
                        <tr>
                            <td class="py-3 px-2 font-bold">
                                <div class="inline-flex space-x-3 items-center">
                                    <!-- <span><img class="rounded-full w-8 h-8" src="https://images.generated.photos/tGiLEDiAbS6NdHAXAjCfpKoW05x2nq70NGmxjxzT5aU/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/OTM4ODM1LmpwZw.jpg" alt=""></span> -->
                                    <span>Banderas</span>
                                </div>
                            </td>
                            <td class="py-3 px-2">Zarate</td>
                            <td class="py-3 px-2">100</td>
                            <td class="py-3 px-2">15</td>
                            <td class="py-3 px-2">2</td>
                            <td class="py-3 px-2 flex justify-center items-center">
                                <button><i class="fa-solid fa-ellipsis-vertical text-gray-500"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3 px-2 font-bold">
                                <div class="inline-flex space-x-3 items-center">
                                    <!-- <span><img class="rounded-full w-8 h-8" src="https://images.generated.photos/tGiLEDiAbS6NdHAXAjCfpKoW05x2nq70NGmxjxzT5aU/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/OTM4ODM1LmpwZw.jpg" alt=""></span> -->
                                    <span>Banderas</span>
                                </div>
                            </td>
                            <td class="py-3 px-2">Sao Pablo</td>
                            <td class="py-3 px-2">100</td>
                            <td class="py-3 px-2">15</td>
                            <td class="py-3 px-2">2</td>
                            <td class="py-3 px-2 flex justify-center items-center">
                                <button><i class="fa-solid fa-ellipsis-vertical text-gray-500"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3 px-2 font-bold">
                                <div class="inline-flex space-x-3 items-center">
                                    <!-- <span><img class="rounded-full w-8 h-8" src="https://images.generated.photos/niCVbIBAm4hahzwS83HoEtcVEIactkKohOzgXWYY4lM/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/NTk4ODczLmpwZw.jpg" alt=""></span> -->
                                    <span>Banderas</span>
                                </div>
                            </td>
                            <td class="py-3 px-2">Asunción</td>
                            <td class="py-3 px-2">100</td>
                            <td class="py-3 px-2">15</td>
                            <td class="py-3 px-2">2</td>
                                <td class="py-3 px-2 flex justify-center items-center">
                                    <button><i class="fa-solid fa-ellipsis-vertical text-gray-500"></i></button>
                                </td>
                        </tr>
                        <tr>
                            <td class="py-3 px-2 font-bold">
                                <div class="inline-flex space-x-3 items-center">
                                    <!-- <span><img class="rounded-full w-8 h-8" src="https://images.generated.photos/f_xU7q780YXiKG7IwKVV05eU6Sj2nIodEkN1S8GyM2M/rs:fit:256:256/czM6Ly9pY29uczgu/Z3Bob3Rvcy1wcm9k/LnBob3Rvcy92M18w/NDk2MTc4LmpwZw.jpg" alt=""></span> -->
                                    <span>Banderas</span>
                                </div>
                            </td>
                            <td class="py-3 px-2">Montevideo</td>
                            <td class="py-3 px-2">100</td>
                            <td class="py-3 px-2">15</td>
                            <td class="py-3 px-2">2</td>
                            <td class="py-3 px-2 flex justify-center items-center">
                                <button><i class="fa-solid fa-ellipsis-vertical text-gray-500"></i></button>
                            </td>
                        </tr>
                        
                    </table>
                </div>
           

            <div class="mt-12">
                <div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-4">
                            <!-- Primer Elemento -->
                            <div class="bg-slate-200/70 to-black/4 p-6 rounded-lg">
                                <p class="text-black-300 text-sm font-medium leading-4">Temperatura</p>
                                <div class="flex flex-row space-x-4 justify-between">
                                    <div id="stats-1">
                                        <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">100</p>
                                    </div>
                                    <div id="stats-1">
                                        <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">20</p>
                                    </div>
                                    <div id="stats-1">
                                        <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">3</p>
                                    </div>
                                    <!-- Logo modificado -->
                                    <div class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-300">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M2 12l5 5L22 5" />
                                        </svg>
                                    </div>
                                </div>                        
                            </div>
                    
                            <!-- Segundo Elemento -->
                            <div class="bg-slate-200/70 to-black/4 p-6 rounded-lg">
                                <p class="text-black-300 text-sm font-medium leading-4">Presión</p>
                                <div class="flex flex-row space-x-4 justify-between">
                                    <div id="stats-1">
                                        <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">100</p>
                                    </div>
                                    <div id="stats-1">
                                        <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">20</p>
                                    </div>
                                    <div id="stats-1">
                                        <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">3</p>
                                    </div>
                                    <!-- Logo modificado -->
                                    <div class="w-10 h-10 flex items-center justify-center rounded-full bg-yellow-100">
                                        <i class='fas fa-exclamation' style='font-size:28px; color: yellow;'></i>
                                    </div>
                                </div>                        
                            </div>
                    
                            <!-- Tercer Elemento -->
                            <div class="bg-slate-200/70 to-black/4 p-6 rounded-lg">
                                <p class="text-black-300 text-sm font-medium leading-4">Viento</p>
                                <div class="flex flex-row space-x-4 justify-between">
                                    <div id="stats-1">
                                        <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">100</p>
                                    </div>
                                    <div id="stats-1">
                                        <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">20</p>
                                    </div>
                                    <div id="stats-1">
                                        <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">3</p>
                                    </div>
                                    <!-- Logo modificado -->
                                    <div class="w-10 h-10 flex items-center justify-center rounded-full bg-red-500">
                                       <i class='fa-solid fa-triangle-exclamation' style='font-size:28px; color: rgb(241, 126, 126)'></i>
                                    </div>
                                </div> 
                            </div>
                    
                            <!-- Cuarto Elemento -->
                            <div class="bg-slate-200/70 to-black/4 p-6 rounded-lg">
                                <p class="text-black-300 text-sm font-medium leading-4">Niveles</p>
                                <div class="flex flex-row space-x-4 justify-between">
                                    <div id="stats-1">
                                        <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">100</p>
                                    </div>
                                    <div id="stats-1">
                                        <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">20</p>
                                    </div>
                                    <div id="stats-1">
                                        <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">3</p>
                                    </div>
                                    <!-- Logo modificado -->
                                    <div class="w-10 h-10 flex items-center justify-center rounded-full bg-orange-300">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                    </div>
                                </div> 
                            </div>

                                                        <!-- Primer Elemento -->
                                                        <div class="bg-slate-200/70 to-black/4 p-6 rounded-lg">
                                                            <p class="text-black-300 text-sm font-medium leading-4">Energía</p>
                                                            <div class="flex flex-row space-x-4 justify-between">
                                                                <div id="stats-1">
                                                                    <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">100</p>
                                                                </div>
                                                                <div id="stats-1">
                                                                    <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">20</p>
                                                                </div>
                                                                <div id="stats-1">
                                                                    <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">3</p>
                                                                </div>
                                                               <!-- Logo modificado -->
                                                                <div class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-300">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" class="w-6 h-6">
                                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2 12l5 5L22 5" />
                                                                    </svg>
                                                                </div>
                                                            </div>                        
                                                        </div>
                                                
                                                        <!-- Segundo Elemento -->
                                                        <div class="bg-slate-200/70 to-black/4 p-6 rounded-lg">
                                                            <p class="text-black-300 text-sm font-medium leading-4">Tensión</p>
                                                            <div class="flex flex-row space-x-4 justify-between">
                                                                <div id="stats-1">
                                                                    <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">100</p>
                                                                </div>
                                                                <div id="stats-1">
                                                                    <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">20</p>
                                                                </div>
                                                                <div id="stats-1">
                                                                    <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">3</p>
                                                                </div>
                                                                <!-- Logo modificado -->
                                                                <div class="w-10 h-10 flex items-center justify-center rounded-full bg-yellow-100">
                                                                    <i class='fas fa-exclamation' style='font-size:28px; color: yellow;'></i>
                                                                </div>
                                                            </div>                        
                                                        </div>
                                                
                                                        <!-- Tercer Elemento -->
                                                        <div class="bg-slate-200/70 to-black/4 p-6 rounded-lg">
                                                            <p class="text-black-300 text-sm font-medium leading-4">Monóxido de Carbono</p>
                                                            <div class="flex flex-row space-x-4 justify-between">
                                                                <div id="stats-1">
                                                                    <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">100</p>
                                                                </div>
                                                                <div id="stats-1">
                                                                    <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">20</p>
                                                                </div>
                                                                <div id="stats-1">
                                                                    <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">3</p>
                                                                </div>
                                                                <!-- Logo modificado -->
                                                                <div class="w-10 h-10 flex items-center justify-center rounded-full bg-red-500">
                                                                   <i class='fa-solid fa-triangle-exclamation' style='font-size:28px; color: rgb(241, 126, 126)'></i>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                
                                                        <!-- Cuarto Elemento -->
                                                        <div class="bg-slate-200/70 to-black/4 p-6 rounded-lg">
                                                            <p class="text-black-300 text-sm font-medium leading-4">Otros gases</p>
                                                            <div class="flex flex-row space-x-4 justify-between">
                                                                <div id="stats-1">
                                                                    <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">100</p>
                                                                </div>
                                                                <div id="stats-1">
                                                                    <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">20</p>
                                                                </div>
                                                                <div id="stats-1">
                                                                    <p class="text-black font-bold text-1xl inline-flex items-center space-x-2">3</p>
                                                                </div>
                                                                <!-- Logo modificado -->
                                                                <div class="w-10 h-10 flex items-center justify-center rounded-full bg-orange-300">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
                                                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                                                    </svg>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                    </div>
                                                </div>
