<div class="bg-gradient-to-b from-[#33A3AA] to-[#107076] flex justify-center items-center h-screen">
    <!-- Izquierda: Imagen -->
    <div class="w-1/2 h-full hidden lg:block">
        <div [ngStyle]="backgroundStyle" class="loginContainerfijo h-full flex flex-col justify-center items-left p-40">
            <h1 class="text-white text-4xl font-bold mb-5 text-center">Iniciar Sesión</h1>
            <p class="text-white text-left text-3x1 mb-4">Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades. Inicia sesión y continúa aprovechando al máximo nuestra plataforma.</p>
            <div class="flex items-center mb-4">
                <img src="images/Icon2.png" alt="Logo monitoreo" class="icon mr-2">
                <div>
                    <h2 class="text-white text-2xl font-semibold">Monitoreo Integral</h2>
                    <p class="text-white">Administra, monitorea múltiples plantas de forma centralizada</p>
                </div>
            </div>

            <div class="flex items-center mb-4">
                <img src="images/IconEstrella.png" alt="Logo estrella" class="icon mr-2">
                <div>
                    <h2 class="text-white text-2xl font-semibold">Notificaciones en tiempo real</h2>
                    <p class="text-white">Recibe notificaciones en tiempo real sobre las mediciones</p>
                </div>
            </div>
        </div>
    </div>
<!-- Derecha: Formulario de Login -->
<div class="lg:p-36 md:p-52 sm:p-20 p-8 w-full lg:w-1/2 bg-white rounded-md shadow-lg h-full flex flex-col justify-center">
    <h1 class="text-4xl font-semibold mb-4 text-gray-900">Portal de Monitoreo</h1>
    <h2 class="text-3xl font-semibold mb-4 text-gray-800">Iniciar Sesión</h2>
  
    <form>
      <!-- Input de Email -->
      <div class="mb-4">
        <label for="email" class="block text-gray-800">Email</label>
        <input type="email" id="email" [(ngModel)]="username" name="username" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off">
      </div>
      
      <!-- Input de Password con Icono para Mostrar/Ocultar -->
      <div class="mb-4 relative">
        <label for="password" class="block text-gray-800">Password</label>
        <input 
          [type]="showPassword ? 'text' : 'password'" 
          id="password" 
          [(ngModel)]="password" 
          name="password" 
          class="w-full border border-gray-300 rounded-md py-2 px-3 pr-10 focus:outline-none focus:border-blue-500" 
          autocomplete="off">
        <button type="button" (click)="togglePasswordVisibility()" class="absolute inset-y-0 right-3 flex items-center text-gray-500">
          <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-6 w-6">
            <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            <path d="M2.1 12a9.978 9.978 0 011.664-3.477 9.953 9.953 0 0114.431-1.784l-1.826 1.82" />
          </svg>
          <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-6 w-6">
            <path d="M3.98 8.34A10.451 10.451 0 0112 4.5c3.14 0 5.978 1.293 8.02 3.34M15.51 15.51l-1.49 1.49a3.502 3.502 0 01-5.02 0l-1.5-1.5M8.5 8.5L4.5 4.5m15 15l-4-4m0 0a7.502 7.502 0 01-5.02-2.5M12 20.5c-3.134 0-5.972-1.295-8.015-3.337" />
          </svg>
        </button>
      </div>
  
      <!-- Enlace y Botón de Inicio de Sesión -->
      <div class="flex items-center mb-2">
        <a href="#" class="hover:underline">¿Olvidaste tu contraseña?</a>
      </div>
      <button (click)="onLogin()" type="button" class="bg-gradient-to-b from-[#33A3AA] to-[#107076] hover:from-[#107076] hover:to-[#33A3AA] text-white font-semibold rounded-md py-1 px-2 w-full">
        Inicia Sesión
      </button>
    </form>
        <!-- Footer -->
        <div class="mt-6 text-left text-gray-700">
            <label for="remember">Protegido por reCAPTCHA y sujeto a la Política de Privacidad y Condiciones.</label>
        </div>
    </div>
</div>

<script>
    function togglePasswordVisibility() {
        const passwordField = document.getElementById("password");
        const eyeIcon = document.getElementById("eyeIcon");
        const eyeSlashIcon = document.getElementById("eyeSlashIcon");
        
        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.style.display = "none";
            eyeSlashIcon.style.display = "block";
        } else {
            passwordField.type = "password";
            eyeIcon.style.display = "block";
            eyeSlashIcon.style.display = "none";
        }
    }
</script>
